<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>将棋盤</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- CSSをリンク -->
    <script src="/socket.io/socket.io.js"></script><!--socket.io読み込み-->
</head>
<body>
<h2>ブラジー将棋</h2>
<div class="player"></div>
<button class="resetbutton"  onclick="reset()">リセット</button>
 <div id="game-container">
 <table id="coughtpieces">
     <% for(let or = 0; or < 4; or++) { %>
            <tr>
                <% for(let oc = 0; oc < 5; oc++) { %>
                    <td>
                    <a id="player1" class="opponentpieces" data-opponentid="<%=5*or+oc%>" href="" onclick ="sasu(<%=5*or+oc%>, <%=1%>); return false;"></a>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </table>

    <table id="board">
        <!-- 将棋盤のマスをここに描画 -->
         <% for(let i = 0; i < 9; i++) { %>
            <tr>
                <% for(let j = 0; j < 9; j++) { %>
                    <td >
                    <a class="boardpieces" data-row="<%= i %>" data-col="<%= j %>" href="" onclick="piececlick(<%= i%>,<%= j %>); return false;"></a>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </table>

    <table id="coughtpieces">
        <% for(let mr = 0; mr < 4; mr++) { %>
            <tr>
                <% for(let mc = 0; mc < 5; mc++) { %>
                    <td>
                    <a id="player0" class="mypieces" data-myid="<%=5*mr+mc%>" href="" onclick ="sasu(<%=5*mr+mc%>, <%=0%>); return false;"></a>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </table>
        </div>
         <button class="mattabutton"  onclick="matta()">待った</button>
        <div class="buttons">
        <button class="button" onclick="boardswitch()">盤面交代</button>
        <button class="button" onclick="turnswitch()">ターン交代</button>
        </div>
    <script src="client2.js"></script> <!-- JavaScriptをリンク -->
</body>
</html>
